# Basic Data Types and String Methods

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
5 + 9 # Operation
# Operators
    # +, - , * , / , %, **
    # = , +=, -=, *=, /=, **=
    # == , <, >, >=, <=, !=
    # and (&) or (|)
    
# 5, 9 # Oprands

14

In [4]:
#PEMDAS
9 + 8 * 2 / 2**2 + (7 -3) * 7
#9 + 8 * 2 / 2**2 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 16 / 4 + 28
#9 + 4 + 28
#41

41.0

In [9]:
# There are two type of copy
# Shallow Copy : Copy the address the of right handside variable
# Deep Copy : Copy the actual contents and write on new location

a = 80
b = 80

print(a)
print(b)

print(id(a))
print(id(b))

80
80
140715509390624
140715509390624

In [7]:
a = list("PIAIC")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['P', 'I', 'A', 'I', 'C']
['P', 'I', 'A', 'I', 'C']
2803696078792
2803696077256

In [11]:
name = "Arsalan"
age = 25
print(type(name)) # type function output the data type of contents
print(type(age))

<class 'str'>
<class 'int'>

In [16]:
num1 = 11 // 3 # floor division remove the value after decimal point - output 3
num2 = 11 / 3 # normal division - output 3.6666
print(num1)
print(num2)
print(type(num1))
print(type(num2))

3
3.6666666666666665
<class 'int'>
<class 'float'>

In [17]:
num1 = 20.8
print(num1)
print(type(num1))

20.8
<class 'float'>

In [18]:
num1 = 8 / 8 # result will be automatically convert into float datatype
print(num1) #
print(type(num1))

1.0
<class 'float'>

In [19]:
boolean = False
print(boolean)
print(type(boolean))

False
<class 'bool'>

In [21]:
num1 = "20" # if number is enclosed in qoutes (either single,double or triple) then it would be converted into string datatype 
print(num1)
print(type(num1))

20
<class 'str'>

In [23]:
#index    0       1         2       3
names = ['John','Jessica','Jane','Steven']   #List [el, el]
#index    -4      -3       -2      -1

print(names)
print(names[2])
print(names[-3])
print(type(names))

['John', 'Jessica', 'Jane', 'Steven']
Jane
Jessica
<class 'list'>

In [24]:
#index    0       1         2       3
names = ('John','Jessica','Jane','Steven')   #tuple (el, el)
#index    -4      -3       -2      -1

print(names)
print(names[2])
print(names[-3])
print(type(names))

('John', 'Jessica', 'Jane', 'Steven')
Jane
Jessica
<class 'tuple'>

In [28]:
#index    0       1         2       3
names = {'John','Jessica','Jane','Steven'}   #set {el, el}
#index    -4      -3       -2      -1

print(names)
# print(names[2]) # will output error because set don't support index
print(list(names)[2]) # not sure which value will be output as it don't keep order and also remove duplicate values
print(type(names))

{'Jane', 'John', 'Steven', 'Jessica'}
Steven
<class 'set'>

In [30]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# Dictionary : key hashable data type
# value could be any data types


data = {
    "name":"John",
    "fname":"Doe",
    "fee":6000,
    "education":['Matric',"Intermediate","BSCS","MSCS"],
    3: "America",
    'a' : 10000
}
print(data['name'])
print(data[3])

John
America

In [31]:
#Type casting
num = 20
print(type(num))
num = float(num)
print(type(num))
num = str(num)
print(type(num))
num = list(num)
print(type(num))
num = set(num)
print(type(num))
num = bool(num)
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'bool'>

In [34]:
num = 26.6
print(num)
num = int(num)
print(num)

26.6
26

## Slicing

In [35]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
#start ->Included
#end   ->Excluded
#Step  ->Sequance

In [74]:
paragraph = "Pakistan is my beloved country"
print(paragraph)
print(paragraph[::])
print(paragraph[::-1]) # output inverse 
print(paragraph[0:3])
print(paragraph[0:3:-1])
print(paragraph[0:8] + " " +paragraph[-7:])

Pakistan is my beloved country
Pakistan is my beloved country
yrtnuoc devoleb ym si natsikaP
Pak

Pakistan country

## String Data types and Methods

In [85]:
# help(str)
# str?
# str??
# ?str
# ??str

In [87]:
name = "John Doe"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [92]:
name = "John Doe"
print(name.upper()) # Inline Operation
print(name)

JOHN DOE
John Doe

In [93]:
name = "John Doe"
name = name.upper() # In Memory Operation
print(name)

JOHN DOE

In [96]:
name = "john doe"
print(name.title())
print(name)

John Doe
john doe

In [97]:
a = "JoHn DoE"
print(a.capitalize())
print(a)

John doe
JoHn DoE

In [99]:
name = "        John            Doe     "
print(name)

        John            Doe

In [100]:
name = "        John            Doe     "
print(len(name))
print(name.lstrip())
print(len(name.lstrip()))
print(name)

32
John            Doe
24
        John            Doe

In [102]:
name = "        John            Doe     "
print(len(name))
print(name.rstrip())
print(len(name.rstrip()))
print(name)

32
        John            Doe
27
        John            Doe

In [103]:
name = "        John            Doe     "
print(len(name))
print(name.strip())
print(len(name.strip()))
print(name)

32
John            Doe
19
        John            Doe

In [105]:
name = "        John            Doe     "
name_parts = name.split()
name_parts

['John', 'Doe']

In [106]:
" ".join(name_parts)

'John Doe'

In [107]:
"=====".join(name_parts)

'John=====Doe'

In [109]:
string = "kjas123456aldjf 3921u23j2 l338j2 3k-dfasd23/32*2"

"".join([i for i in string if str.isnumeric(i)])

'12345639212323382323322'

In [111]:
string = "Pakistan is my beloved country, i love in pakistan !"
string.find("pakistan")

42

In [112]:
string = "Pakistan is my beloved country, i love in pakistan !"
string.index("pakistan")

42

In [113]:
value = input("Search:")
print(string[string.index(value): string.index(value)+len(value)])
string[string.index(string): ]

Search:beloved
beloved

'Pakistan is my beloved country, i love in pakistan !'

In [114]:
card = """
PIAIC ISLAMABAD
Bahria University 
Name: John Doe
Father's Name: Steven
"""

print(card)

PIAIC ISLAMABAD
Bahria University
Name: John Doe
Father's Name: Steven

In [117]:
student_name = "John Doe"
f_name = "Seven"
fee = 6000
card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

PIAIC ISLAMABAD
Bahria University
Name: John Doe
Father's Name: Seven
Fee : 6000

In [118]:
student_name = input("Name:")
f_name = input("Father's name")
fee = int(input("Fee"))

card = """
PIAIC ISLAMABAD
Bahria University 
Name: %s
Father's Name: %s
Fee : %d
"""

print(card%(student_name,f_name, fee))

Name:John
Father's nameSteven
Fee5600

PIAIC ISLAMABAD
Bahria University
Name: John
Father's Name: Steven
Fee : 5600

In [124]:
student_name = input("Name:")
f_name = input("Father's name")
fee = int(input("Fee"))

card = f"""
PIAIC ISLAMABAD
Bahria University 
Name: {student_name}
Father's Name: {f_name}
Fee : {fee}
"""
print(card)

Name:John
Father's nameSteve Hawks
Fee5600

PIAIC ISLAMABAD
Bahria University
Name: John
Father's Name: Steve Hawks
Fee : 5600

In [125]:
name = "John Doe"
fname = "Steven"
fee = 6000

data="""
Bahria University Islamabad
Student Name: {}
Father's Name: {}
Fee: {}
"""
print(data.format(name, fname,fee))

Bahria University Islamabad
Student Name: John Doe
Father's Name: Steven
Fee: 6000

In [127]:
name = "John Doe"
fname = "Steven"
fee = 5000

a="""
Bahria University Islamabad
Student Name: {1}
Father's Name: {0}
Fee: {2}
"""
print(a.format(name, fname,fee))

Bahria University Islamabad
Student Name: Steven
Father's Name: John Doe
Fee: 5000

In [129]:
name = "John Doe"
fname = "Steven Hawks"
fee = 5300

a="""
Bahria University Islamabad
Student Name: {sn}
Father's Name: {fn}
Fee: {f}
"""
print(a.format(f=fee, fn=fname, sn=name))

Bahria University Islamabad
Student Name: John Doe
Father's Name: Steven Hawks
Fee: 5300

In [130]:
"1" + '1'

'11'

In [131]:
int("1") + int('1')

2

In [132]:
int("1") + "8"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
"6" * 3

'666'

In [135]:
name = "John Doe"
fname = "Steven"
fee = 5000

print("Bahria University Islamabad \nStudent Name" \
+ name + "\nFather's Name \n"+fname+"\nFee: "+str(fee))

Bahria University Islamabad
Student NameJohn Doe
Father's Name
Steven
Fee: 5000

In [136]:
8 * 7 + 9 / 2 ** 20 // 2

56.0

In [139]:
8 * \
7 + \
9 / \
2 ** \
20 // \
2

56.0

In [140]:
names = ["John Doe","Jane","Jessica"]


print(names[0], names[1], names[2])
print(names)
print(*names)

John Doe Jane Jessica
['John Doe', 'Jane', 'Jessica']
John Doe Jane Jessica

In [141]:
name, fname, fee = "John", "Steven", 2000
print(name, fname,fee)

John Steven 2000

In [149]:
data=["John", "Steven", 2000]
name = data[0],
fname = data[1]
fee = data[2]
print(name, fname,fee)

('John',) Steven 2000

In [150]:
data=["John", "Steven", 2000]
name, fname, fee = data
print(name, fname,fee)

John Steven 2000

### Assignment # 2 :
- String data types all methods  
- Apply random operators on 20 oprands

### Please find Solution at 
https://github.com/pakistanigeek/piaic/tree/master/Assignment-2