# Types of Operator
- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators
* "+" Addition 
* "-" Subtraction 

* "*" Multiplication 

* / Division 

* // floor Division 

* % Modulus 

* ** Power

#### "+"

In [4]:
5 + 8

13

In [5]:
8.0 + 4

12.0

In [6]:
6 + 3.0

9.0

In [8]:
"Pakistan" +" " +"is love"

'Pakistan is love'

In [10]:
['John Doe',"Jane Doe"] + ['Jessica',"Steven"]

['John Doe', 'Jane Doe', 'Jessica', 'Steven']

In [11]:
('A',"B") + ('C',"D")

('A', 'B', 'C', 'D')

In [7]:
{'A',"B"} + {"C","D"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
{1:'A',2:"B"} + {3:"C",4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

#### - Subraction

In [13]:
8 - 3

5

In [14]:
9.6 - 1

8.6

In [15]:
{"A","B","C"} - {"A","C"}

{'B'}

In [16]:
{1:"A",2:"B",3:"C"} - {7:"A",1:"C"}

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [17]:
["A","B","C"] - ["A","C"]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### * Multiplication

In [19]:
8  * 3

24

In [20]:
9.0 * 6.0

54.0

In [21]:
"Pakistan " * 5

'Pakistan Pakistan Pakistan Pakistan Pakistan '

In [22]:
['Pakistan',"Zindabad"] * 2

['Pakistan', 'Zindabad', 'Pakistan', 'Zindabad']

In [23]:
('A',"B") * 2

('A', 'B', 'A', 'B')

In [25]:
{0:6,1:4} * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

#### "/" Division

In [26]:
30 / 6

5.0

In [27]:
13/5

2.6

In [29]:
13//5

2

In [35]:
21 // 5.0

4.0

In [36]:
21 // 5.2

4.0

In [33]:
11.5 // 5

2.0

In [37]:
18 / 0

ZeroDivisionError: division by zero

In [39]:
51 % 8

3

In [41]:
22 % 3

1

In [42]:
2 ** 3 # 2x2x2=8

8

## Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [43]:
2 == 2

True

In [44]:
2.0 == 2

True

In [45]:
'2' == 2

False

In [46]:
'Qasim' == 'qasim'

False

In [47]:
3==2

False

In [48]:
a = ['A','B']
b = ['A','B']

print(id(a),id(b), sep='\n')
a == b

1906122425672
1906122425992

True

In [49]:
a is b

False

In [50]:
{1,2,3} == {1,2,3}

True

In [51]:
5 > 3

True

In [52]:
5 > 5

False

In [53]:
5 > '4'

TypeError: '>' not supported between instances of 'int' and 'str'

In [54]:
"A" > "B"

False

In [56]:
"A"> "B"
# ord('A') > ord('B')
#  65      >    66
#        False

False

- A=65 -> Z=90
- a=97 -> z=122
- 0=48 -> 9=57

In [57]:
chr(65)

'A'

In [58]:
ord("z")

122

In [59]:
5 >= 5

True

In [60]:
5 > 4

True

In [61]:
3 < 2

False

In [62]:
5 < 1

False

In [63]:
5 <= 5

True

In [64]:
'Qasim' != 'qasim'

True

In [65]:
'Qasim' == 'qasim'

False

In [66]:
5 != 3

True

# Assignment Operators

* =
* +=
* -=
* *=
* /=
* //=
* **=
* %=

In [67]:
a = 1 
print(a)
a = 2 
print(a)
a = 3
print(a)

1
2
3

In [68]:
a = 1
a = a + 2 # 1 + 2 = 3
a = a + 5 # 3 + 5 = 8
a = a +2 # 8 + 2 = 10
print(a)

10

In [69]:
a = 1
a +=2 
a +=5
a +=2
print(a)

10

In [70]:
a = "A"
a +="B"
a +="C"
print(a)

ABC

In [71]:
a = 100
a -=20
a -=5
print(a)

75

In [74]:
a = 1
a *=2
a *=3
print(a)

6

In [75]:
a = "A"
a *= 5
print(a)

AAAAA

In [76]:
a = 1
a **=2
a **=3
a **=2
print(a)

1

In [77]:
a = 27
a %= 5
print(a)

2

In [78]:
a = 13
a /= 3
a

4.333333333333333

In [79]:
a = 13
a //=3
a

4

# Logical Operators

- and &
- or  |
- not

In [80]:
True and True and True and True

True

In [81]:
True & True & True & True

True

In [82]:
1 and 1 and 1 and 1

1

In [83]:
True and True and False and True

False

In [84]:
True or True or False or False or True

True

In [85]:
True | True | False | False | True

True

In [86]:
False or False or False or False or False

False

In [87]:
not(True)

False

In [89]:
user = input("User Name")
password = input("Password")

(user == "A" or user == "B" or user=="C") and password=='123'

User NameA
Password123

True

# Bitwise Operators

8,   7,  6,  5,  4,  3, 2, 1, 0 
2,   2,  2,  2,  2,  2, 2, 2, 2 
===============================
256,128, 64, 32, 16, 8, 4, 2, 1

1110000


111 =  7
11100 = 28
11101 = 29

Right
110
0 = 0
1 = 2
1 = 4
------
    6

11100 = 28
11101 = 29

11100
11101
------
11100  = 28

In [90]:
29 & 28

28

11100
11101
------
11101

In [91]:
28 | 29

29

#### XOR
1 and 1 = 0

11100
11101
------
00001

In [92]:
28 ^ 29

1

In [93]:
~29

-30

11100
left sift 2
1110000

16+32+64

In [94]:
28<<2

112

11100
Right sift 2
00111

00111 = 7

In [95]:
28>>2

7

In [96]:
chr(ord("A") & ord("B"))

'@'

# Membership Operators

- in 
- not in

In [97]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [99]:
i = 0
while i<len(names):
    if names[i]=="F":
        print(True)
        break
    i += 1

True

In [100]:
"F" in names

True

In [101]:
message = input("Message")

"Pakistan" in message

MessageI love in Paksitan, i love my country

False

In [102]:
message = input("Message")

"Pakistan" in message.split()

MessageI live in Pakistan and i love my country

True

In [103]:
print(names)

"a" not in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

In [104]:
user = input("User Name")
password = input("Password")

(user in ["A","B","C"]) and password=='123'

User NameA
Password123

True

# Identity Operators

In [105]:
a = 5
b = '5'
c = a

print(a,b,c, sep='\n')
print(id(a),id(b),id(c), sep='\n')

5
5
5
140715509388224
1906068487728
140715509388224

In [109]:
a == c

True

In [110]:
a is b

False

In [111]:
a is c

True

In [112]:
id(a) == id(c)

True

# Control Flow

##### if, else , elif

# Old
if (logic){
    if_value_True
}else{
    if_value_False
}


Pythonic

if logic:
    if_value_True
else:
    if_value_False

value_if_True if logic else value_if_False

In [113]:
if True:
    print("Pakistan")
else:
    print("Zinda bad!")

Pakistan

In [114]:
if False:
    print("Pakistan")
else:
    print("Zinda bad!")

Zinda bad!

In [115]:
print("Pakistan") if True else print("ZindaBad!")

Pakistan